*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}

body{
  display: flex;
  font-family: 'Overpass';
  justify-content: center;
  align-items: center;
  background-color: #131518;
  min-width: 100%;
  height: 100vh;
}
